<div class="members view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode('Card')" [class.active]="!listDisplayModeEnabled">
                                <span class="glyphicon glyphicon-th-large"></span> Card View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode('List')" [class.active]="listDisplayModeEnabled">
                                <span class="glyphicon glyphicon-align-justify"></span> List View
                            </a>
                        </li>
                    </ul>
                    <filter-textbox class="navbar-right"
                     (changed)="filterChanged($event)"></filter-textbox>
                </div>
            </div>
        </div>
        <div class="container">
              <div class="row card-container" [hidden]="listDisplayModeEnabled">
                    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="#member of filteredMembers">
                        <div class="card">
                            <div class="card-header">
                                <a [routerLink]="['Claims',{id:member.id}]" class="white">{{member.firstName | capitalize }} {{ member.lastName | capitalize }} 
                                    <i class="icon-edit icon-white editIcon"></i></a>
                            </div>
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="pull-left card-body-left">
                                        <a href="#" class="white">
                                            <img src="images/{{member.gender | lowercase}}.png" class="card-image" />
                                        </a>
                                    </div>
                                    <div class="pull-left card-body-right">
                                        <div class="card-body-content">{{member.city | capitalize }}, {{member.state | capitalize}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="filteredMembers.length">
                        No Records Found
                    </div>
                </div>
                <div class="row grid-container" [hidden]="!listDisplayModeEnabled">
                    <div class="col-md-10">
                        <div class="table">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th sort-by="firstName" (sorted)="sort($event)">First Name</th>
                                        <th sort-by="lastName" (sorted)="sort($event)">Last Name</th>
                                        <th sort-by="address" (sorted)="sort($event)">Address</th>
                                        <th sort-by="city" (sorted)="sort($event)">City</th>
                                        <th sort-by="state" (sorted)="sort($event)">State</th>
                                        <th sort-by="zip" (sorted)="sort($event)">Zip</th>
                                        <!-- Or you can do this directly rather than using sort-by directive -->
                                        <th (click)="sort('claimTotal')">Claim Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="#member of filteredMembers">
                                        <td><img src="images/{{ member.gender | lowercase }}.png" 
                                                class="card-image" alt="Memebr Image" /></td>
                                        <td><a [routerLink]="['Claims',{id:member.id}]">{{ member.firstName | capitalize }}</a></td>
                                        <td>{{ member.lastName | capitalize }}</td>
                                        <td>{{ member.address }}</td>
                                        <td>{{ member.city | trim }}</td>
                                        <td>{{ member.state | capitalize }}</td>
                                        <td>{{ member.zip }}</td>
                                        <td>{{ member.claimTotal | currency:'USD':true }}</td>
                                    </tr>
                                    <tr [hidden]="filteredMembers.length">
                                        <td>&nbsp;</td>
                                        <td colspan="6">No Records Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
